<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.module.marketpulse">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true"
                 android:name="com.module.marketpulse.MarketPulseApp"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">
        <activity android:name="com.module.marketpulse.views.home.HomeActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".views.criteria.CriteriaActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".views.variable.VariableActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".views.indicator.IndicatorActivity"
                  android:screenOrientation="portrait"/>
    </application>
</manifest>
